*{
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

a:hover{
    transform: scale(1.05);
}

div{
    display: flex;
}

h1,h2,h3{
    font-family: "Lucida Console",sans-serif;
    font-weight: bold;
    text-align: center;
}

h1{
    font-size: 7vw;
}

h2{
    font-size: 4vw;
}

h3{
    font-size: 3vw;
}

h4{
    font-size: 2vw;
    font-weight: normal;
}


#container{
    flex-flow: row;
    width: 100%;
    height: 130vw;
    background: #cbcba9;
}

#leftSideContainer{
    width: 30%;
    background: #407294;
    flex-direction: column;
    color: #cbcba9;
    padding-top: 5%;
}

#rightSideContainer{
    width: 70%;
    flex-direction: column;
    color: #407294;
    padding: 0 2vw;
}

#leftSideContainer p{
    font-size: 2vw;
    padding: 1vw 2vw;
}

.section{
    flex-direction: column;
    padding-top: 3%;
}


#contact{
    height: 40%;
    width: 100%;

}

#highlights{
    height: 30%;
}

#hobbies{
    height: 30%;
}

#contact img{
    width: 3vw;
    height: 3vw;
}

#contact a{
    align-self: center;
    padding-left: 2vw;
    width: fit-content;
}


.contactRow{
    flex-direction: row;
    align-content: center;
    align-items: center;
}




#rightSideContainer h1{
    font-family: Arial, sans-serif;
}

#rightSideContainer h2,h3,h4{
    text-align: left;
    font-family: Arial, sans-serif;
}

#rightSideContainer p,ul,h3,h4{
    padding-left: 5%;
}



#rightSideContainer p{
    font-size: 3vw;
    color: black;

}

#rightSideContainer ul{
    font-size: 2.5vw;
    color: black;
    list-style-position: inside;
}

input{
    display: none;
}

#homeLinkContainer{
    width: fit-content;
}


.mouseOver:hover{
    background: #696969 ;
}

#contact>div:hover{
    transform: scale(1.05);
}

#myName{
    position: relative;
    z-index: 1;
}

#myPhotos{
    display: none;
    position: absolute;
    z-index: 2;
}
#photoNameContainer{
    position: relative;
}

#photoNameContainer:hover #myPhotos{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    background: #407294;
    animation-name: myPhotos;
    animation-duration: 2s;
}

#myPhotos img{
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    animation-name: myPhotosImg;
    animation-duration: 2s;
}

@keyframes myPhotos {
    from{width: 0}
    to{width: 100%}
}

@keyframes myPhotosImg {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
