hr{
    width: 70vw;
    margin: 2vw auto;
    border-top: #696969 solid 3px;
}

#picGalleryContainer{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

#picGalleryContainer div{
    width: 25vw;
    height:25vw;
    overflow: hidden;
    margin: 1vw;
}
#picGalleryContainer div img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s;
}

#picGalleryContainer div img:hover{
    transform: scale(1.1);
    filter: brightness(0.9);
}

