#contentContainer{
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#picContainer{
    flex-direction: row;
    padding: 3vw 5vw;
    width: 90%;
}


div{
    display: flex;
}

#picContainer>div{
    flex-direction: column;
    width: 100%;
}

a{
    margin: 0.5vw;
}

img{
    max-width: 95%;
    width: 95%;
}

.card {
    width: 100%;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: 0.5vw;
    background: #407294;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h2{
    padding: 0.5vw 0;
}

